<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/upload.css">
    <title>Document</title>
</head>
<body>
    <div class="upload">
        <div class="upload_dropzone">
            <div class="upload_dropzone_icon">
                <img src="../static/logo.png" alt="" class="left",draggable="false">
                <img src="../static/logo.png"  alt="" class="center",draggable="false">
                <img src="../static/logo.png"  alt="" class="right",draggable="false">
            </div>
            <form >
            <input type="file" class="input">
              <h4>drop your text here or <button type="submit" class="browsebtn" style="color: aqua;">Submit</button></h4>
            </form>
              <p class="upload_download_link"></p>
        </div>
        
    </div>
    <script src="../static/upload.js"></script>
</body>
</html>